<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->
<div>Title <button type-"button">Favorite</button></div>
<div>
<input type="text" ng-model="main.query">
<button type-"button" ng-click="main.search()">Ok</button>
<button type-"button">My location</button>
  <div ng-if="main.recentSearch.length">
    <h4>Recent search:</h4>
    <ul>
      <li ng-repeat="search in main.recentSearch" ng-bind="search"></li>
<!--       <li>Search: title (2)</li>
<li>Search: title (1)</li> -->
    </ul>
  </div>
  <div ng-if="main.error" ng-bind="main.error">
  </div>
  <div ng-if="main.location.length">
    Please select a location below:
    <ul>
      <li ng-repeat="location in main.location" ng-bind="location">Location #1</li>
<!--       <li>Location #1</li>
      <li>Location #1</li> -->
    </ul>
  </div>
<div>
 